# Only these env variables are used by the app code.

GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_WAITLIST_RANGE='Early access'!A:B
GOOGLE_SHEETS_CONTACT_RANGE='something in mind'!A:D
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SERVICE_ACCOUNT_TOKEN_URI=https://oauth2.googleapis.com/token
