# Only these 4 env variables are used by the app code.

GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_WAITLIST_RANGE='Early access'!A:B
GOOGLE_SHEETS_CONTACT_RANGE='something in mind'!A:D
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=./google-service-account.json
